html{
  text-align: center;
}
p {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-image: url("placeholder.png");
  background-position: center;
}
div {
  background-position: center;
}
